<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guia Perguntas</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="part-body">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="https://cdn-icons.flaticon.com/png/512/807/premium/807281.png?token=exp=1646955258~hmac=257fff3af0a66ae3f4cfb48dfbbc69ed" width="90" height="80" alt="" srcset="">
    </a>
  </nav>
  <div class="container">
    <div class="card" id="form-questions">
      <div class="card-header">
        <h1>Realizar pergunta</h1>
      </div>
      <div class="card-body">
    <form method="POST" action="/save-question">
      <label>Titulo</label>
       <input type="text" placeholder="Titulo" class="form-control" name="title">
       <br>
        <label>Descrição</label>
       <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="description"></textarea>
       <br>
       <button class="btn btn btn-primary">Perguntar</button>
    </form>
      </div>
    </div>
  </div>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>