.part-body {
  background-color: #e3e7eb;
   margin-bottom: 50px;
}

#form-questions {
  margin-top: 5vh;
}

.form-answer {
  margin-top: 50px;
}

.btn {
  margin-top: 15px;
}

.tag-h3 {
  margin-bottom: 15px;
}